<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <script type="module" src="../js/checkout.js" defer></script>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header class="header">
        <nav id="nav" class="header__nav">
            <div>
                <a id="back" href="../index.html?id='fashion'">
                    <img src="../storage/img/back.svg">
                </a>
            </div> 
            <div>Checkout</div>
            <div>
                <img src="../storage/img/sidebar.svg" alt="" srcset="">
            </div>
        </nav>
    </header>
    <main class="main">
        <section id="checkout__details" class="checkout__details">
            <!-- <article id="detail__product" class="details__product">
                <div class="product__imagen">
                    <img src="../storage/new_img/g_beige_strato.jpg" >
                </div>
                <div class="product__description">
                    <h3>Fnder Strato Caster</h3>
                    <small>Beige-Red</small>
                    <span>$212.99</span>
                </div>
                <div class="product__custom">
                    <img src="../storage/img/option (1).svg">
                    <div id="buttoms__details__checkout" class="product__select">
                        <img id="minus__checkout" src="../storage/img/minusCheckout .svg">
                        <span>4</span>
                        <img id="plus__Checkout" src="../storage/img/plusCheckout.svg">
                    </div>
                </div>
            </article> -->
        </section>
        <section class="section__shopping">
            <!--  -->
            <article id="quantity" class="section__bill">
                <!-- <div class="bill__total">
                    <label>Total (9items)</label>
                    <span>$131.97</span>
                </div>
                <div class="bill__fee">
                    <label for="">Shipping fee</label>
                    <span>$0.00</span>
                </div>
                <div class="bill__subtotal">
                    <label for="">Sub total</label>
                    <span>$131.97</span>
                </div> -->
            </article>
        </section>
    </main>
    <footer>
        <footer class="footer">
            <ul class="footer__ul">
                <li>
                        <span>Pay</span>
                </li>
            </ul>
    </footer>
</body>
</html>