<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
    <script type="module" src="../js/detail.js" defer></script>
</head>
<body>
    <main class="main">
        <section id="main__section_gallery" class="main__section">
            <!-- <article class="article__product">
                <div class="product__image">
                    <img src="../storage/new_img/g_beige_strato.jpg" alt="">
                </div>
                <div class="product__menu">
                    <a href="../">
                        <img src="../storage/img/back.svg" alt="">
                    </a>
                    <img src="../storage/img/heartBlack.svg" alt="">
                </div>
            </article> -->
        </section>
        <section id="main__section__title">
            <!-- <article class="article__detail">
            <div class="detail__head">
                <h1>Fender Strato Caster</h1>
                <div class="product__select">
                    <img src="../storage/img/minus.svg" alt="">
                    <span>1</span>
                    <img src="../storage/img/plus.svg" alt="">
                </div>
            </div>
            <div class="detail__score">
                <img src="../storage/img/star.svg" alt="">
                <img src="../storage/img/star.svg" alt="">
                <img src="../storage/img/star.svg" alt="">
                <img src="../storage/img/star.svg" alt="">
                <img src="../storage/img/star.svg" alt="">
                <span>5.0</span>
                <p>(<a href="#">7.932 reviews</a>)</p>
            </div>
            </article> -->
        </section>
        <section id="main__section__description"  class="main__section">
            <!-- <article class="product__information">
                <p>Its simple and elegant shape makes it perfect for
                those of you who like you who want
                <strong>Read more...</strong></p>
            </article> -->
            <hr>
        </section>
        <section class="main__section">
        <article class="product__custom">
            <div class="product__size">
                <div class="choose__size">
                        <strong>select size</strong>
                        <article id="sizes" class="sizes">
                            <div>S</div>
                            <div>M</div>
                            <div>L</div>
                        </article>
                </div>
            </div>
            <div id="choose__color" class="product__color">
                <h5>Color</h5>
                <div id="colors" class="choose__color">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </article>
        </section>

       </main> 
       <footer class="footer">
        <ul id="footer__detail" class="footer__ul">
            <!-- <li>
                <a href="./checkout.html">
                    <img src="../storage/img/shopping-cart.svg">
                    <span id="total__price" >add to car | $180.99 <sub>$198.99</sub></span>
                </a>
            </li> -->
        </ul>
    </footer>
</body>
</html>